In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],
            'max_features':['auto','sqrt','log2'],'splitter':['best', 'random']}


grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'sqrt', 'splitter': 'best'}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011370,0.001233,0.004939,0.000598,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.713737,0.653951,0.738749,0.693758,0.670258,0.694091,0.030198,5
1,0.016185,0.007506,0.004893,0.000967,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.685799,0.605059,0.688430,0.728453,0.715196,0.684587,0.042900,9
2,0.012231,0.006507,0.005196,0.000921,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.744612,0.544891,0.771420,0.714266,0.676699,0.690378,0.079288,6
3,0.009831,0.005001,0.005007,0.001331,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.630557,0.601441,0.676370,0.623492,0.622764,0.630925,0.024725,16
4,0.012971,0.010304,0.004669,0.000986,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.762755,0.540695,0.665309,0.717315,0.690293,0.675274,0.074641,12
5,0.008851,0.002945,0.004094,0.000585,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.554087,0.539622,0.718797,0.660950,0.619513,0.618594,0.066683,18
6,0.065650,0.002716,0.004888,0.000404,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.744493,0.584300,0.710279,0.714567,0.752904,0.701309,0.060785,4
7,0.059779,0.011372,0.004557,0.000665,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.673232,0.608416,0.717398,0.721506,0.711363,0.686383,0.042594,8
8,0.047903,0.007088,0.004405,0.000372,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.786643,0.621213,0.710249,0.745437,0.741861,0.721081,0.055524,1
9,0.036390,0.007356,0.004280,0.000364,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.724091,0.678878,0.659331,0.726619,0.652689,0.688322,0.031450,7
10,0.041608,0.008577,0.004696,0.001675,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.595853,0.594171,0.721720,0.668299,0.737939,0.663596,0.060558,14
11,0.033771,0.003233,0.004886,0.001333,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.683995,0.654791,0.729451,0.580445,0.631035,0.655944,0.050024,15
12,0.010772,0.003115,0.004200,0.000547,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.724554,0.645734,0.721544,0.746060,0.671694,0.701917,0.037192,2
13,0.008572,0.001741,0.005642,0.000771,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.609753,0.597981,0.721815,0.758256,0.697232,0.677007,0.062907,10
14,0.009214,0.000811,0.004272,0.000236,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.780476,0.613691,0.657483,0.663372,0.661430,0.675290,0.055695,11
15,0.008750,0.001427,0.004519,0.000199,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.653149,0.509907,0.720394,0.652812,0.588519,0.624956,0.071054,17
16,0.009240,0.001365,0.006387,0.002478,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.682845,0.667240,0.732882,0.652986,0.772438,0.701678,0.044480,3
17,0.007974,0.001955,0.004437,0.000391,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.698393,0.609664,0.655800,0.660760,0.696226,0.664168,0.032408,13

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:50
BMI:30
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [16]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[10600.5483]