In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
dataset=pd.read_csv("insurance_pre.csv")

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [8]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [9]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [10]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [11]:
dependent=dataset[['charges']]

In [12]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(independent, dependent ,test_size=0.30,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [28]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],
            'max_features':['auto','sqrt','log2'],'splitter':['best', 'random']}


grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
   
# fitting the model for grid search 
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [29]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)

# print classification report 
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions) 
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'}: 0.7036188303389294

In [17]:
table=pd.DataFrame.from_dict(re)

In [18]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002591,7.972598e-04,0.000000,0.000000,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
1,0.018044,3.210754e-02,0.000000,0.000000,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
2,0.001595,4.882468e-04,0.000000,0.000000,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
3,0.002192,9.764643e-04,0.000000,0.000000,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
4,0.002393,4.890453e-04,0.000000,0.000000,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
5,0.001993,1.168008e-07,0.000000,0.000000,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
6,0.015348,9.126277e-03,0.001395,0.000488,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.726767,0.540888,0.780131,0.646297,0.650966,0.669010,0.081167,1
7,0.003388,4.885395e-04,0.002193,0.001933,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.722203,0.712521,0.616012,0.635691,0.608917,0.659069,0.048495,2
8,0.003292,8.728307e-04,0.001395,0.000488,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.404207,0.323499,0.596759,0.676793,0.589847,0.518221,0.132181,12
9,0.003188,3.998589e-04,0.001195,0.000398,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.505646,0.608223,0.571487,0.557958,0.630721,0.574807,0.043177,9
10,0.003796,1.177942e-03,0.001057,0.000120,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.783272,0.608208,0.694521,0.458010,0.679993,0.644801,0.108733,4
11,0.002483,6.174832e-04,0.001994,0.001261,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.668593,0.561264,0.698508,0.504014,0.641361,0.614748,0.071758,5
12,0.002393,1.018049e-03,0.000000,0.000000,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
13,0.002191,3.990464e-04,0.000000,0.000000,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
14,0.001794,7.454609e-04,0.000000,0.000000,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
15,0.001594,4.888319e-04,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
16,0.001995,2.565189e-06,0.000000,0.000000,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
17,0.002990,1.260220e-03,0.000000,0.000000,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
18,0.035789,2.468695e-02,0.004386,0.001016,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.706383,0.553551,0.640865,0.672942,0.657853,0.646319,0.051157,3
19,0.009170,3.981413e-04,0.003389,0.001016,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.618185,0.422783,0.630875,0.568465,0.356954,0.519452,0.109832,11
20,0.013355,5.370954e-03,0.003690,0.001075,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.657820,0.538874,0.595367,0.601558,0.517890,0.582302,0.049557,6
21,0.008571,4.882856e-04,0.003788,0.000746,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.674616,0.543277,0.569510,0.519577,0.582863,0.577969,0.053008,7
22,0.009503,1.967970e-03,0.007478,0.008266,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.695820,0.505402,0.515875,0.497823,0.665100,0.576004,0.086031,8
23,0.008371,7.989532e-04,0.003527,0.001292,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.601495,0.607550,0.495880,0.452994,0.606171,0.552818,0.065450,10

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:61
BMI:30
Children:0
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [20]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[63770.42801]